body {
  background-color: black;
}

h1 {
  color: white;
}

.ball {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  transition: width 1s, height 1s;
}

.ball1 {
  background-color: blueviolet;
}

.ball2 {
  background-color: green;
  margin: 400px;
}
